@model IEnumerable<KycForm>

@{
    ViewData["Title"] = "Index";
}


<div d-flex">
    <div class="col-2"><a asp-action="create" class="btn btn-success form-control">New Form</a></div>
    <hr>
    <div class="col-10"><h1 class="mt-2">Profiles</h1></div>
</div>


@* 
<table class="table">
    <thead>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>State</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var task in Model)
        {
            <tr>
                <td>@task.ID</td>
                <td>@task.FullName</td>
                <td>@task.PState</td>
                <td>
                    <a asp-action="Edit" asp-route-id="@task.ID">Edit</a> |
                    <a asp-action="Delete" asp-route-id="@task.ID">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>

 *@





<table class="table" id="myTable">
    <thead>
        <tr>
            <th>
                S.N.
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FullName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PhoneNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PermaState)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PermaDistrict)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PermaMunicipality)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PermaWard)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PermaStreet)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TempState)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TempDistrict)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TempMunicipality)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TempWard)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TempStreet)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ProfileImage)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>





    @foreach (var item in Model) {
        <tr>
            <td>
                
            </td>

            <td>
                @* @Html.DisplayFor(model => item.FullName) *@
                <p>@item.FullName</p>
            </td>
            <td>
                @Html.DisplayFor(model => item.PhoneNumber)
            </td>
            <td>
                @Html.DisplayFor(model => item.PState)
            </td>
            <td>
                @Html.DisplayFor(model => item.PDistrict)
            </td>
            <td>
                @Html.DisplayFor(model => item.PermaMunicipality)
            </td>
            <td>
                @Html.DisplayFor(model => item.PermaWard)
            </td>
            <td>
                @Html.DisplayFor(model => item.PermaStreet)
            </td>
            <td>
                @Html.DisplayFor(model => item.TState, new{ @class="tstate" })
            </td>
            <td>
                @Html.DisplayFor(model => item.TDistrict)
            </td>
            <td>
                @Html.DisplayFor(model => item.TempMunicipality)
            </td>
            <td>
                @Html.DisplayFor(model => item.TempWard)
            </td>
            <td>
                @Html.DisplayFor(model => item.TempStreet)
            </td>
            <td>
                <img src="~/Images/@item.ProfileImage" width="100" height="100">
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id=item.ID }) |
                @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                @* <a asp-action="Delete"  style=" padding: 3px; margin: 2px; border-radius: 30%;">Delete</a> *@
                @Html.ActionLink("Delete", "Delete", new { id=item.ID })
            </td>
        </tr>
}
    </tbody>
</table>



<script>
    $(document).ready(function () {



    });


